<h2>
  AsyncIterableIterator State-management
</h2>

<div class="section">
  <label>Test Input</label>
  <input #input (keyup)="textUpdate$.next(input.value)" placeholder="type here" />
  <!-- could use (keyup.enter) for example -->
  <button (click)="textReset$.next()">Reset</button>
  <p>{{ state.aText }}</p>
  <p>PointerDown: {{ state.pointerDown }}</p>
  <p>PointerUp: {{ state.pointerUp }}</p>
</div>

<div class="section">
  <label>Test Cancellable</label>
  <p>{{ state.dataResponse }} <button (click)="dataFetch$.next()">Load Data</button></p>
</div>

<div class="section">
  <button (click)="randomItemUpdate$.next()">Update Item</button>
  <app-list-child-test [items]="items$ | async" (itemClicked)="itemClick$.next($event)"></app-list-child-test>
</div>
