<h2>Alternative Iterator Test</h2>

<div class="section">
  <label>Test Input</label>
  <input #input (keyup)="textUpdated(input.value)" placeholder="type here" />
  <!-- could use (keyup.enter) for example -->
  <button (click)="textReset()">Reset</button>
  <p>{{ aText }}</p>
  <p>PointerDown: {{ pointerDown }}</p>
  <p>PointerUp: {{ pointerUp }}</p>
</div>

<div class="section">
  <label>Test Cancellable</label>
  <p>{{ dataResponse }} <button (click)="dataFetched()">Load Data</button></p>
</div>

<div class="section">
  <button (click)="itemUpdated()">Update Item</button>
  <app-list-child-test></app-list-child-test>
</div>
